.next
next-server/.next
next-server/.env
next-server/.env.local
next-server/.env.production
next-server/node_modules
next-server/dist
next-server/build/
next-server/.turbo/
next-server/prisma/migrations
next-server/scripts/

socket-server/node_modules
socket-server/.env

dist/
.turbo/
.vscode/
out/
coverage/
logs/
*.log

# OS
.DS_Store
Thumbs.db
