@tailwind base;
@tailwind components;
@tailwind utilities;

:root, [data-theme] {
  background-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-nanum-gothic);
  overscroll-behavior: none;
  margin: 0;
}

.page-container {
  overflow-y: scroll;
  height: calc(var(--vh, 1vh) * 100);
}

@media (max-width: 767px) {
  .page-container {
    height: calc(var(--vh, 1vh) * 100 - 55px);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @apply text-4xl;
  @apply font-bold;
}

h2 {
  @apply text-3xl;
  @apply font-bold;
}

h3 {
  @apply text-2xl;
  @apply font-bold;
}

h4 {
  @apply text-xl;
  @apply font-semibold;
}

h5 {
  @apply text-lg;
  @apply font-semibold;
}

h6 {
  @apply text-sm;
  @apply font-semibold;
}

.content-wrap {
  @apply flex mt-2 p-4 md:p-8;
}

.bg-default {
  @apply bg-white dark:bg-neutral-900;
}

.bg-default-reverse {
  @apply bg-neutral-900 dark:bg-white;
}

.text-default {
  @apply text-neutral-950 dark:text-neutral-200;
}

.text-default-reverse {
  @apply text-neutral-200 dark:text-neutral-950;
}

.border-default {
  @apply border-[1px] border-neutral-300 shadow-sm dark:border-neutral-800 
}

.border-l-default {
  @apply border-l-[1px] border-neutral-300 shadow-sm dark:border-neutral-800 
}

.border-r-default {
  @apply border-r-[1px] border-neutral-300 shadow-sm dark:border-neutral-800 
}

.border-t-default {
  @apply border-t-[1px] border-neutral-300 shadow-sm dark:border-neutral-800 
}

.border-b-default {
  @apply border-b-[1px] border-neutral-300 shadow-sm dark:border-neutral-800 
}

.btn-bg {
  @apply bg-white dark:bg-[#0d0d0d];
}

.btn-bg:hover,
.btn-bg:focus {
  @apply bg-[#0d0d0d] dark:bg-white text-white dark:text-[#0d0d0d];
}

.layout-card {
    @apply grid 
    grid-flow-row 
    grid-cols-1 
    gap-4
    min-[580px]:grid-cols-2 
    xl:grid-cols-3 
    2xl:grid-cols-4 
}

.layout-card--post {
  @apply grid
  grid-cols-1
  lg:grid-cols-3
  sm:grid-cols-2
  gap-4
  lg:gap-8
}

.page-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; /* 하단 bounce 스크롤 방지 */
  touch-action: manipulation;
  width: 100%;
  /* height: calc(var(--vh, 1dvh) * 100); */
}

/* @media (max-width: 767px) {
  .page-container {
    height: calc(var(--vh, 1dvh) * 100 - 55px);
  }
} */

/* hamburger-menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 30px;
  height: 30px;
  padding: 4px;
  transition: all .5s ease;
  cursor: pointer;
}
.hamburger-menu > div {
  width: 30px;
  height: 3px;
  @apply bg-[#0d0d0d] dark:bg-white;
  border-radius: 2px;
  transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger-menu.animate div:first-child {
  transform: translateY(10px) rotate(45deg);
}
.hamburger-menu.animate div:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.animate div:last-child {
  transform: translateY(-10px) rotate(-45deg);
}

/* main page */
.hite-text {
  @apply 
  max-[300px]:text-[18px]
  max-[360px]:text-2xl
  max-[420px]:text-[30px]
  max-[480px]:text-[36px]
  max-[640px]:text-[44px]
  sm:text-6xl
  md:text-7xl 
  font-serif 
  font-extrabold 
  italic 
  text-[#284083] 
  [text-shadow:_5px_0px_#C4DEFF] 
  tracking-tight;
}

.product-layout {@apply relative w-full mx-auto }

.product-title-layout {
  @apply flex 
  items-center 
  relative
  h-16
  px-5
  bg-[#143e8d];
}

.product-title {
  @apply w-[1440px] mx-auto font-bold text-2xl text-neutral-200
}

.product-scroll { 
  @apply flex 
  justify-center 
  absolute 
  left-1/2 
  top-1/2
  w-full
  text-base
  sm:text-lg
  text-neutral-200
  -translate-x-1/2
  -translate-y-1/3 
}

.product-box {
  @apply relative max-w-[1440px] mx-auto
}

@media (max-width: 380px) {
  .product-title-layout {
    @apply flex flex-col h-auto px-3
  }

  .product-title {
    @apply text-xl py-3
  }
  .product-scroll {
    @apply static  
    w-auto 
    py-1
    translate-x-0 
    -translate-y-2 
    text-sm
    leading-none;
  }
}

/* drink detail */
.text-top {
  @apply font-bold text-[clamp(20px,2.5vw,30px)]
}

.text-bottom {
  @apply text-[clamp(11px,2.5vw,20px)]
}

.text-top, .text-bottom {
  @apply break-keep;
}

.drink-info {
  @apply flex flex-col gap-2 sm:gap-6 whitespace-pre-wrap
}

/* HeroUI dropdown */
div[data-slot="content"] {
  min-width: fit-content;
}

/* react-quill*/
.quill {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.quill > * {
  border-color: inherit !important;
  color: inherit !important;
}
.quill > .ql-toolbar {
  /* border radius of the toolbar */
  border-radius: 10px 10px 0 0;
}
.quill > .ql-container {
  z-index: 10;
  min-height: 100px;
  /* border radius of the container and for font size*/
  font-size: inherit;
  border-radius: 0 0 10px 10px;
}

.ql-toolbar.ql-snow .ql-picker-label {
  color: inherit !important;
  opacity: 0.76;
}
.ql-snow .ql-picker {
  color: inherit !important;
}
.quill > .ql-container > .ql-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  /* for placeholder */
  color: inherit;
}
.ql-snow.ql-toolbar button svg {
  opacity: 0.76;
  color: currentColor;
}
.ql-snow .ql-stroke {
  /* for the border of the editor */
  stroke: currentColor !important;
}
.ql-snow .ql-fill {
  /* for the bg color */
  fill: currentColor !important;
}
.ql-picker-item {
  /* for dropdown */
  color: #444 !important;
}
.ql-syntax {
  overflow: visible;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #23241f;
  border-radius: 3px;
  color: #f8f8f2;
  white-space: pre-wrap;
}

.ql-picker-options {
  z-index: 20 !important;
}

.effect-rightLeft {
  animation: rightLeft .2s;
}

@keyframes rightLeft {
  from{
    transform: translateX(20px);
  }
  to {
    transform: translateX(0);
  }
}

.effect-downUp {
  animation: downUp .2s;
}

@keyframes downUp {
  from{
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

.loading-icon {
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@screen sm {
  .sm\:bg-h-4 {
    --bg-h: 4px;
  }
  
  .sm\:bg-h-2 {
    --bg-h: 2px;
  }

  .sm\:link-effect-underline {
    padding-bottom: 6px;
    background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
    line-height: 1.4;
    transition: background-size 200ms;
  }
  
  .sm\:link-effect-underline:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
}

/* Loading */
.container {
  display: grid;
  grid-template-columns: repeat(5, 12px);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: wave 1s ease-in-out infinite;
  @apply bg-[#232323] dark:bg-[#fdfdfd];
}

.ball:nth-child(2) {
  animation-delay: 0.2s;
  @apply bg-[#555] dark:bg-[#cfcfcf];

}

.ball:nth-child(3) {
  animation-delay: 0.4s;
  @apply bg-[#777] dark:bg-[#999];

}

.ball:nth-child(4) {
  animation-delay: 0.6s;
  @apply bg-[#999] dark:bg-[#777];

}

.ball:nth-child(5) {
  animation-delay: 0.8s;
  @apply bg-[#afafaf] dark:bg-[#555];
}

@keyframes wave {
  0%, 100% {
      transform: translateY(6px);
  }
  50% {
      transform: translateY(-6px);
  }
}

/* profile Modal */
.user-list {
  @apply grid grid-cols-2 gap-3
}

.user-list > dt {
  @apply text-neutral-700 dark:text-neutral-300 font-semibold
}

/* react-select dark mode */
@layer components {
  /* .my-react-select-container {
  } */
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-neutral-900 border-2 border-neutral-200 dark:border-neutral-600 hover:border-neutral-400 dark:hover:border-neutral-200 rounded-lg; 
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-300 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-neutral-100 dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
  }
  /* .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  } */

  .my-react-select-container .my-react-select__clear-indicator,
  .my-react-select-container .my-react-select__dropdown-indicator {
    @apply cursor-pointer
  }

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }

    /* Multi-value container and labels */
  .my-react-select-container .my-react-select__multi-value {
    @apply bg-neutral-200 rounded-md;
  }

  .my-react-select-container .my-react-select__multi-value__label {
    @apply text-neutral-800
  }

  /* Multi-value remove button and SVG */
  .my-react-select-container .my-react-select__multi-value__remove {
    @apply bg-neutral-600 hover:bg-neutral-700 rounded-sm;
  }

  .my-react-select-container .my-react-select__multi-value__remove .css-tj5bde-Svg {
    @apply text-neutral-200 dark:text-neutral-400;
  }

  /* Clear and dropdown indicator */
  .my-react-select-container .my-react-select__clear-indicator,
  .my-react-select-container .my-react-select__dropdown-indicator {
    @apply text-neutral-400 dark:text-neutral-600;
  }

  .my-react-select-container .my-react-select__clear-indicator:hover,
  .my-react-select-container .my-react-select__dropdown-indicator:hover {
    @apply text-neutral-500 dark:text-neutral-500;
  }

  .my-react-select-container .my-react-select__clear-indicator .css-tj5bde-Svg,
  .my-react-select-container .my-react-select__dropdown-indicator .css-tj5bde-Svg {
    @apply fill-current;
  }
}

/* CircularProgress */
.pure-material-progress-circular {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 0.25em;
  width: 3em;
  height: 3em;
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  background-color: transparent;
  font-size: 16px;
  overflow: hidden;
}

.pure-material-progress-circular::-webkit-progress-bar {
  background-color: transparent;
}

/* Indeterminate */
.pure-material-progress-circular:indeterminate {
  -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
  mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
  animation: pure-material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), .pure-material-progress-circular:indeterminate {
  animation: none;
}

.pure-material-progress-circular:indeterminate::before,
.pure-material-progress-circular:indeterminate::-webkit-progress-value {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  border: solid 0.25em transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  width: 100% !important;
  height: 100%;
  background-color: transparent;
  animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-moz-progress-bar {
  box-sizing: border-box;
  border: solid 0.25em transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-ms-fill {
  animation-name: -ms-ring;
}

@keyframes pure-material-progress-circular {
  0% {
      transform: rotate(0deg);
  }
  12.5% {
      transform: rotate(180deg);
      animation-timing-function: linear;
  }
  25% {
      transform: rotate(630deg);
  }
  37.5% {
      transform: rotate(810deg);
      animation-timing-function: linear;
  }
  50% {
      transform: rotate(1260deg);
  }
  62.5% {
      transform: rotate(1440deg);
      animation-timing-function: linear;
  }
  75% {
      transform: rotate(1890deg);
  }
  87.5% {
      transform: rotate(2070deg);
      animation-timing-function: linear;
  }
  100% {
      transform: rotate(2520deg);
  }
}

@keyframes pure-material-progress-circular-pseudo {
  0% {
      transform: rotate(-30deg);
  }
  29.4% {
      border-left-color: transparent;
  }
  29.41% {
      border-left-color: currentColor;
  }
  64.7% {
      border-bottom-color: transparent;
  }
  64.71% {
      border-bottom-color: currentColor;
  }
  100% {
      border-left-color: currentColor;
      border-bottom-color: currentColor;
      transform: rotate(225deg);
  }
}